/*BY sun (http://www.hongru.com) on 12 20, 2010 */
@font-face {
	font-family: 'FontCreatorProgramRegular';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontCreatorProgramRegular';
	font-weight: normal;
	font-style: normal;
}

