*.suo
*.user
*.sln.docstates
*.pch
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak

[Tt]humbs.db
*.DS_Store
~$*

[Bb]in
obj
*.pdb
*.vshost.*
!/Admin/[Bb]in
!/Web/[Bb]in
!/Service/[Bb]in
!/Release/AdminWeb/[Bb]in
!/Release/PortalWeb/[Bb]in
!/Release/WebService/[Bb]in
!/Release/WeiChatService/[Bb]in
!/Release/WeiChatWeb/[Bb]in

/Release/*/log4net.xml
/packages/*
!/packages/*.config