.Width-15
{
    width: 15px;
}
.Width-30
{
    width: 30px;
}
.Width-50
{
    width: 50px;
}
.Width-60
{
    width: 60px;
}
.Width-75
{
    width: 75px;
}
.Width-80
{
    width: 80px;
}
.Width-90
{
    width: 90px;
}
.Width-100
{
    width: 100px;
}
.Width-120
{
    width: 120px;
}
.Width-150
{
    width: 150px;
}
.Width-180
{
    width: 180px;
}
.Width-200
{
    width: 200px;
}
.Width-250
{
    width: 250px;
}
.Width-300
{
    width: 300px;
}
.Width-400
{
    width: 400px;
}
.Width-500
{
    width: 500px;
}
.Width-600
{
    width: 600px;
}
.Width-700
{
    width: 700px;
}
.Width-950
{
    width: 950px;
}
