<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="IPCacheMinutes" value="5" />
        <!--<add key="ReportmasterHost" value="http://61.135.238.119:8080/reportmaster/" />-->
        <add key="ReportmasterHost" value="http://61.135.238.135/reportmaster/" />
    </appSettings>
    <connectionStrings>
        <add name="SQLConnection" connectionString="server=.\SQLExpress;Initial Catalog=jjw;uid=sa;pwd=pass@word1;" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpHandlers>
            <add verb="*" path="syncservice/reportmaster/*.action" type="HttpUrlRewrite.InSync.ForwardRequrestAgent" />
            <add verb="*" path="syncservice/*.action" type="HttpUrlRewrite.InSync.OnReceive" />
        </httpHandlers>
        <httpRuntime requestValidationMode="2.0" />
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="forward" verb="*" path="syncservice/reportmaster/*.action" type="HttpUrlRewrite.InSync.ForwardRequrestAgent" />
            <add name="onrecei" verb="*" path="syncservice/*.action" type="HttpUrlRewrite.InSync.OnReceive" />
        </handlers>
    </system.webServer>
</configuration>