@charset "utf-8";
/* (http://www.hongru.com) on August 23, 2010 */
body{ padding:0; margin:0;font-family:"宋体",Arial, Helvetica, sans-serif;font-size:12px; line-height:20px;}
a{ color:#808182; text-decoration:none;}
a:hover{ color:#3D5E95; text-decoration:none;}
ul,li,dd,dl{ list-style:none; padding:0; margin:0;}
h2,h3,h4,h5 { line-height:1.7em;} 
p,span { line-height:1.7em;} 
a img { border:none;}
.clear{ clear:both;}
.mar6 { margin-top:6px;} 
.mar15 { margin-top:15px;}  
.mar35 { margin-top:55px; clear:both;} 
#header { margin:0 auto; width:1003px;}     
#middle { margin:0 auto; width:1003px;}  
#footer { margin:0 auto; width:1003px;}    
.iban { margin:0 auto; width:1003px; height:145px; overflow:hidden;background:url(../images/top_bot.gif) repeat-x;}
.iban object { float:left; width:951px; height:140px; border:1px solid #C7C7C7; margin-top:2px; margin-left:26px;_margin-left:25px; display:inline;}
.itop { float:left; width:1003px; height:31px; background:url(../images/top_b.gif) no-repeat;}
.sin { float:right; padding-left:4px; padding-right:26px; padding-top:4px;}
.sin img { float:left;}
.sow { float:right; padding-left:4px; padding-right:4px; padding-top:4px;}
.sow img { float:left;}
.imenu { margin:0 auto; width:966px; height:68px; overflow:hidden; margin-top:7px; background:url(../images/sea_all.gif) no-repeat;}
.imenu ul { float:left; width:966px; padding-top:8px; padding-left:9px;}
.imenu ul li { float:left; padding-left:2px; padding-right:13px;height:16px;font-size:13px; line-height:16px; font-family: "Microsoft YaHei","FontCreatorProgramRegular","黑体","宋体",sans-serif;} 
.mblank { float:left; width:1px;  height:16px;background:url(../images/me_li.gif) no-repeat;}
.m01 { float:left; width:90px; height:16px; text-align:center;} 
.m01 a { float:left; width:90px; color:#FFFFFF; height:16px;}
.m01 a:hover { float:left; width:90px; color:#0c3c9e; height:16px;background:url(../images/me_on.png) no-repeat;}
 
.m02 { float:left; width:90px; height:16px; line-height:18px; text-align:center; font-size:13px;font-family: "Microsoft YaHei","FontCreatorProgramRegular","黑体","宋体",sans-serif;}  
.m02 a { float:left; width:90px; color:#FFFFFF; height:16px;font-size:13px;}
.m02 a:hover { float:left; width:90px; color:#0c3c9e; height:16px;font-size:13px;background:url(../images/me_on.png) no-repeat;} 

.m03 { float:left; width:72px; height:16px; line-height:18px; text-align:center; font-size:13px;font-family: "Microsoft YaHei","FontCreatorProgramRegular","黑体","宋体",sans-serif;}  
.m03 a { float:left; width:72px; color:#FFFFFF; height:16px;font-size:13px;}
.m03 a:hover { float:left; width:72px; color:#0c3c9e; height:16px;font-size:13px;background:url(../images/me_on2.png) no-repeat;} 

.c_selc { float:right;}
.tm2008style  { float:left; margin-left:621px;width:87px;height:17px; display:inline;margin-top:14px;_margin-top:10px;}
.tm2008style .select_box{ float:left;width:87px;height:17px;font-size:12px; } 
.tm2008style div.tag_select{display:block;width:77px;height:17px;background:transparent url("../images/sel_b.gif") no-repeat 0 0;padding:0 10px;line-height:17px; color:#ACACAC; font-size:12px}
.tm2008style div.tag_select_hover{display:block;width:77px;height:17px;background:transparent url("../images/sel_b.gif") no-repeat 0 0;padding:0 10px;line-height:17px;  color:#ACACAC; font-size:12px}
.tm2008style div.tag_select_open{display:block;width:77px;height:17px;background:transparent url("../images/sel_b.gif") no-repeat 0 0;padding:0 10px;line-height:17px;  color:#ACACAC; font-size:12px}
.tm2008style ul.tag_options{position:absolute;margin:0;list-style:none;background:#fff;padding:0 0 1px;margin:0;width:85px ; height:100px; overflow:hidden; overflow-y:auto; font-size:12px; border:1px solid #CCC; border-top:none;}
.tm2008style ul.tag_options li{background:#fff; display:block;width:85px;padding:0 10px;height:17px;text-decoration:none;line-height:17px;color:#666; font-weight:normal; font-size:12px}  

.tm2008style ul.tag_options li.open_hover{background:#fff;color:#000; font-weight:normal; font-size:12px}
.tm2008style ul.tag_options li.open_selected{background:#fff; font-size:12px}
.ser_all { float:left; width:215px; height:17px;margin-left:7px;_margin-left:-2px;display:inline; overflow:hidden; line-height:17px;background:url(../images/in_b.gif) no-repeat;margin-top:14px;_margin-top:10px;}
.sp_in {float:left; width:188px; height:17px; line-height:15px; margin-left:7px; display:inline;color:#ACACAC; background:none; font-size:12px; border:none;}   
.sp_bu {float:left; width:18px; height:17px; cursor:hand; cursor:pointer; background:none;border:none;}
.jd_all { float:left; width:328px; height:252px; margin-left:25px; display:inline; margin-top:9px;background:url(../images/ij_b.gif) no-repeat;}   
.gzd_all { float:left; width:300px;margin-left:13px; display:inline; margin-top:8px;}
.gzd_t { float:left; width:300px; height:23px; color:#003FB6; line-height:23px; text-indent:2.2em;overflow:hidden;background:url(../images/gz_top.gif) no-repeat;}
.gzd_bot { float:left; width:300px; height:230px;background:url(../images/gz_bot.gif) no-repeat;}
.gzd_bot ul { float:left; width:268px; height:197px;margin-left:17px; overflow:hidden; margin-top:11px; display:inline; }
.gzd_bot ul li { float:left; width:268px; height:23px;background:url(../images/gz_li.gif) no-repeat;}
.gz_cle { float:left; width:217px; height:18px; line-height:18px;margin-left:10px; overflow:hidden; margin-top:2px; display:inline; font-size:12px;}
.gz_cri { float:left; width:41px; height:18px; line-height:18px; font-size:11px; color:#BCBCBC;margin-top:2px; font-family:Arial, Helvetica, sans-serif;}
.jrz_g { float:right; padding-right:12px; padding-top:0px;}
.jwrz_g { float:right; padding-right:12px; padding-top:7px;}

.jrc_all { float:left; width:511px; margin-top:7px; margin-left:12px; display:inline;}
.jrc_top { float:left; width:500px; color:#FFF; text-indent:2em; overflow:hidden; line-height:25px; height:26px;background:url(../images/jr_top.gif) no-repeat;} 

.jrc_top_1_1 { width:172px; background:url(../images/jrc_top_1_1.gif) no-repeat; }
.jrc_top_1_2 { width:172px; background:url(../images/jrc_top_1_2.gif) no-repeat; }
.jrc_top_2_1 { width:100px; background:url(../images/jrc_top_2_1.gif) no-repeat; }
.jrc_top_2_2 { width:100px; background:url(../images/jrc_top_2_2.gif) no-repeat; }
.jrc_top_3 { width:228px; background:url(../images/jrc_top_3.gif) no-repeat; }


.jrt_mt {float:left; width:500px; color:#FFF;overflow:hidden;  height:56px;background:url(../images/jr_mid.gif) no-repeat;}
.jrt_mb,.jrt_mb2,.jrt_mb3{float:left; width:500px; color:#757575;overflow:hidden;  height:325px;}
.jrt_mb{background:url(../images/jr_bot.gif) no-repeat;}
.jrt_mb2{background:url(../images/jr_bot2.gif) no-repeat;}
.jrt_mb3{background:url(../images/jr_bot3.gif) no-repeat;}
.tabs { float:left; padding-left:12px; padding-top:15px; line-height:18px;}
.tabw { float:left; padding-top:0px;border-bottom:1px solid #EFEFEF;}
.utr {float:left; height:48px; line-height:24px; text-align:center;}
.yh { color:#FA9301; line-height:48px;}
.jr_tt { float:left; height:295px; overflow:hidden;}
.hr_gd { float:right; padding-right:11px; padding-top:7px;}
 
.brc_all { float:left; width:444px; margin-left:10px; display:inline;margin-top:7px;}
.ban_all { float:left; width:953px; margin-left:24px; overflow:hidden; display:inline;margin-top:13px;}
.ban_all img  { float:left; width:953px; height:65px; border:1px solid #E3E3E3;}
#hotnews {float:left;width:444px;} 
#hotnews_caption { float:left;width:444px;height:22px;background:url(../images/br_bac.gif) repeat-x; overflow:hidden;}
#hotnews_caption ul { float:left; }
#hotnews_caption ul li { float:left;text-align:center; cursor:pointer; }
.cp01 {float:left; width:104px; height:22px; line-height:22px;background:url(../images/br_off.gif) no-repeat;} 
.cp01_off {float:left; width:104px; height:22px; line-height:22px;background:url(../images/br_on.gif) no-repeat;} 
#hotnews_caption .normal { float:left; width:53px; color:#FFF; height:22px; line-height:22px;background:url(../images/br_of.gif) no-repeat;} 
.cur1_off { float:left; width:104px; color:#FFF; height:22px; line-height:22px;background:url(../images/br_off.gif) no-repeat;}
.cur1_on { float:left; width:104px; color:#FFF; height:22px; line-height:22px;background:url(../images/br_on.gif) no-repeat;}
.cur2_off { float:left; width:72px; color:#FFF; height:22px; margin-left:2px; display:inline; line-height:22px;background:url(../images/left32.gif) no-repeat;}
.cur2_on { float:left; width:72px; color:#FFF; height:22px; line-height:22px;margin-left:2px; display:inline; background:url(../images/right32.gif) no-repeat;}

#hotnews_content {float:left;width:444px;height:385px; overflow:hidden;background:url(../images/br_bot.gif) repeat;overflow:hidden;}
#hotnews_content .normal { display:none; } 
#hotnews_content .current { display:block; }
#hotnews_content ul { padding:8px 0 0 5px; }
#hotnews_content ul li a { font-size:14px; } 

.bda_all { float:left; width:497px; height:65px; overflow:hidden; background:#FFFDF7; border:1px solid #E3E3E3; margin-left:24px; display:inline;margin-top:13px;}
.bda_t { float:left; width:480px; height:18px;margin-left:12px; display:inline;margin-top:8px; line-height:18px; color:#5EA6D8; font-family:"微软雅黑","黑体","宋体";}

.rollBox{float:left;width:492px;overflow:hidden;margin-left:8px; display:inline;margin-top:10px; }
.rollBox .LeftBotton{height:11px;width:11px;background:url(../images/le.gif) no-repeat;overflow:hidden;float:left;display:inline;cursor:pointer;margin-top:4px;}
.rollBox .RightBotton{height:11px;width:11px;background:url(../images/ri.gif) no-repeat;overflow:hidden;float:left;display:inline;cursor:pointer;margin-top:4px;} 
.rollBox .Cont{width:460px;overflow:hidden;float:left; margin-left:4px; display:inline;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:230px;float:left;text-align:left; height:18px; line-height:18px;overflow:hidden; display:inline;}
.rollBox .Cont .pic a{ color:#808182; text-decoration:none;}
.rollBox .Cont .pic a:hover{ color:#3D5E95; text-decoration:none;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

.shi_all { float:left; width:682px; height:350px; overflow:hidden; margin-left:22px; display:inline; margin-top:12px;}
.ce_top { float:left; width:682px; height:37px; overflow:hidden;background:url(../images/sh_top.gif) no-repeat;}
.ce_bot { float:left; width:682px;height:313px;background:url(../images/sh_botb.gif) no-repeat;}
.shij_all { float:left; width:317px; margin-left:16px; display:inline;} 
.jia_le { float:left; width:317px;height:290px;background:url(../images/sh_lem.gif) repeat-y;}
.jia_lb { float:left; width:317px;height:6px;background:url(../images/sh_leb.gif) no-repeat;}
.jia_ce { float:left; width:272px; overflow:hidden;}

.sy_top { float:left; width:317px; height:18px; overflow:hidden; text-indent:3.6em; margin-top:16px; color:#FFF;}
.jg_top { float:left; width:317px; height:18px; overflow:hidden;text-indent:3em; margin-left:9px; display:inline; margin-top:16px; color:#FFF;}
.sjg_all { float:left; width:317px; height:296px; margin-left:14px;_margin-left:-1px; display:inline;background:url(../images/shr_bac.gif) no-repeat;}
.sjg_all ul { float:left; width:287px; height:260px;margin-left:17px; overflow:hidden; margin-top:13px; display:inline; }
.sjg_all ul li { float:left; width:287px; height:23px;background:url(../images/shr_li.gif) no-repeat;}
   
.sgz_cle { float:left; width:229px; height:18px; line-height:18px;margin-left:14px; overflow:hidden; margin-top:2px; display:inline; font-size:12px;}
.sgz_cri { float:left; width:41px; height:18px; line-height:18px; font-size:11px; color:#BCBCBC;margin-top:2px; font-family:Arial, Helvetica, sans-serif;}
.bx_ti { float:left; width:317px; margin-top:14px; height:21px;background:url(../images/upp.gif) no-repeat; line-height:21px;  text-indent:1.3em; color:#519BD4;}
.bx_tc { float:left; width:317px; padding-top:9px;} 
.bx_tc ul { float:left; width:317px; padding-left:12px;}
.bx_tc ul li{ float:left; padding-left:6px; height:15px; margin-top:4px; line-height:15px; padding-right:6px;}
.bx_tc ul li img { vertical-align:middle;}
.jbx_tc { float:left; width:317px; padding-top:9px; color:#848484; padding-left:16px;} 
.jbx_tc img { vertical-align:middle;}
.bsx_tc { float:left; width:317px; padding-top:9px;} 
.bsx_tc ul { float:left; width:317px; padding-left:12px;}
.bsx_tc ul li{ float:left; padding-left:3px; height:15px; margin-top:4px; line-height:15px; padding-right:4px;}
.bsx_tc ul li img { vertical-align:middle;}
  
  
.dcg_all { overflow:hidden;float:left; width:259px; margin-left:13px; display:inline;margin-top:14px; }
.dcg_t { float:left; width:259px; height:30px;background:url(../images/hd.gif) no-repeat; }
.price{float:left; width:259px; height:30px;background:url(../images/jc.gif) no-repeat;}
.dcg_mm{float:left; width:259px;background:url(../images/dc_mid.gif) repeat-y; }
.dcg_cc { float:left; margin-left:17px; margin-top:4px; display:inline; width:206px; height:45px; overflow:hidden; line-height:19px;background:url(../images/dc_b.gif) repeat-x; color:#898989; padding-left:10px; padding-top:16px; padding-right:10px;} 
.dcg_b { float:left; width:259px; height:10px;background:url(../images/dcbb.gif) no-repeat; }
.dc_bsh { float:left; width:223px; overflow:hidden;background:url(../images/dc_li.gif) no-repeat;margin-left:16px; display:inline;}
.dc_g01 { margin-top:12px; float:left; width:105px;margin-left:2px; display:inline;}
.dc_g02 { margin-top:12px; float:left; width:105px; margin-left:9px; display:inline;}
.dcb_ban { float:left; width:259px;}
 .dcb_ban img { float:left; width:257px; height:65px; border:1px solid #E9E9E9;}
.di_logo { float:left;margin-top:12px; padding-left:16px; height:45px;} 
.lp01 { float:left; width:151px; margin-left:6px; margin-right:4px; display:inline;} 
  .lp01 img { float:left; width:149px; height:44px; border:1px solid #E6E6E6;}
.yql_t { float:left; width:954px;margin-left:22px; display:inline;margin-top:14px; height:24px; line-height:24px; text-indent:1.8em; color:#FFF;background:url(../images/yq_top.gif) no-repeat;}   
.yql_bot { float:left; width:954px;margin-left:22px; display:inline;height:54px;color:#FFF;background:url(../images/yq_bot.gif) no-repeat;}   

.fo_bot { float:left; width:1003px; margin-top:15px; color:#FFF; height:25px;_height:18px; _padding-top:7px; line-height:25px; text-align:center;background:url(../images/bot_b.gif) no-repeat;} 
.fo_bot a{ color:#FFF; text-decoration:none;}
.fo_bot a:hover{ color:#FFF; text-decoration:underline;}
.zfo_bot { float:left; width:1003px; margin-top:0px; color:#FFF; height:25px;_height:18px; _padding-top:7px; line-height:25px; text-align:center;background:url(../images/bot_b.gif) no-repeat;} 
.zfo_bot a{ color:#FFF; text-decoration:none;}
.zfo_bot a:hover{ color:#FFF; text-decoration:underline;}
.fo_boc { float:left; width:1003px; line-height:17px; padding-top:10px; padding-bottom:22px; color:#8B8B8B; text-align:center;}
.yqsel { float:left; width:177px; height:23px;line-height:23px;margin-top:15px; margin-left:108px; display:inline;} 
.priceL{float:left;width:259px;background:url(../images/dc_mid.gif) repeat-y;padding:2px 0 8px; border-bottom:1px solid #E6E6E6;}
.priceL ul{ border-top:1px dotted #B0BFCA;padding-top:11px;margin:0 15px 0 15px; overflow:hidden;}
.priceL li{  background:url(../images/kuai.gif) no-repeat 4px center; line-height:1.6;padding-left:14px;}
.priceL li a{color:#898989;}  
  
 .index-splash-block {
	float:left;
	width:327px;
	text-align:	left;
	overflow:hidden;
}
.index-splash-block .feature-slide-preview {
    margin: 0 auto;
    display: none;
    width:327px;
	overflow: hidden;
}
.index-splash-block .feature-slide-preview .screenshot {
    display: block;
    margin: auto;
}
.index-splash-block .feature-slide-preview .screenshot img {
	float:left;
	width:327px;
	height:227px;
	margin-top:2px;
	}
.index-splash-block .feature-slide-list {
	float:left;
    width:300px;
    height: 22px;
    overflow: hidden;
	text-align:left;
	margin-left:-17px; display:inline;
	margin-top:1px;
}
.index-splash-block .feature-slide-list a {
    float: left;
    display: inline; 
    width:30px;
    height: 22px;
    background: url(../images/feature-point.png) center no-repeat;
    _background: url(../images/feature-point-4ie6.png) center no-repeat;
}
.index-splash-block .feature-slide-list a.current {
    background: url(../images/feature-point-current.png) center no-repeat;
    _background: url(../images/feature-point-current-4ie6.png) center no-repeat;
}
.index-splash-block  .feature-slide-list .feature-slide-list-items {
    display: inline;
}
.index-splash-block  .feature-slide-list a.feature-slide-list-previous {
    background: url(../images/feature-point-previous.png);
    _background: url(../images/feature-point-previous-4ie6.png);
}
.index-splash-block  .feature-slide-list a.feature-slide-list-next {
    background: url(../images/feature-point-next.png);
    _background: url(../images/feature-point-next-4ie6.png);
} 
  
.sop_j { float:left; width:326px; height:25px; margin-top:-23px;_height:19px;  _padding-top:6px; text-indent:1em;line-height:25px; background: url(../images/jbb.png);}
.sop_j img { vertical-align:middle;}
  .sop_j a { color:#FFF;}
  .sop_j a:hover { color:#FFF;text-decoration:underline;}
.yq_mar { margin:0 auto; width:1003px; padding-top:4px;} 
.jgj_top { float:left; width:276px; height:39px;background: url(../images/jgj_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.wjrc_top { float:left; width:276px; height:39px;background: url(../images/jrc_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;} 
.zns_top { float:left; width:276px; height:39px;background: url(../images/zns_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.gyw_top { float:left; width:276px; height:39px;background: url(../images/gyw_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.fls_top { float:left; width:276px; height:39px;background: url(../images/fls_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.dcw_top { float:left; width:276px; height:39px;background: url(../images/dcw_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.jgz_top { float:left; width:276px; height:39px;background: url(../images/jgz_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.jgzc_top { float:left; width:276px; height:39px;background: url(../images/jgzc_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.syjg_top { float:left; width:276px; height:39px;background: url(../images/syj_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.gzd_top { float:left; width:276px; height:39px;background: url(../images/gzd_top.gif) no-repeat; margin-top:4px; margin-left:22px; display:inline;}
.wei_ri { float:left; width:683px; height:27px; padding-top:12px; text-indent:1.2em; color:#0066CC;background: url(../images/wei_bac.gif) no-repeat; overflow:hidden; margin-top:4px;}
.wei_ri a{color:#0066CC; text-decoration:none;}
.wei_ri a:hover{color:#3D5E95; text-decoration:none;}
.we_te {}
.we_te a{ color:#333333; text-decoration:none;}
.we_te a:hover{ color:#3D5E95; text-decoration:none;}
.zbody_b { float:left; width:953px;background: url(../images/zm_lbac.gif) repeat-x;margin-left:25px; display:inline;} 

.zb_le { float:left; width:273px;min-height:387px; height:auto !important; height:387px; overflow:visible;}
.zb_ri { float:left; width:669px;background:#FFF;min-height:387px; height:auto !important; height:387px; overflow:visible; padding-bottom:20px;} 
.zpage { float:left; width:650px; height:17px; line-height:17px; text-align:center; margin-left:0px; display:inline;margin-top:28px;color:#666666;}
.zpage a{ color:#666666; text-decoration:none;}
.zpage a:hover{ color:#3D5E95; text-decoration:none;}
.page { float:left; width:650px; height:17px; line-height:17px; text-align:center; margin-left:10px; display:inline;margin-top:28px;color:#666666;}
.page a{ color:#666666; text-decoration:none;}
.page a:hover{ color:#3D5E95; text-decoration:none;}
.pa_si {  width:20px; height:10px; line-height:10px; background:none; border:1px solid #A9A9A9;}
.pa_sb {  width:28px; height:15px; line-height:15px; cursor:hand; cursor:pointer; margin-top:2px; background:url(../images/p_bu.gif) no-repeat; border:none;}
.pte {padding-left:3px;padding-right:3px; background:#0DA7CC;color:#FFF;}
.pcc {color:#000;}
.pcc a{ color:#666666; text-decoration:none;}
.pcc a:hover{ color:#3D5E95; text-decoration:none;}
.sgza { float:left; width:640px; margin-left:26px; display:inline;margin-top:8px; }

.gza { float:left; width:640px; margin-left:26px; display:inline;margin-top:8px; }
.gza ul { float:left; width:640px;margin-top:15px; padding-bottom:7px;}
.gza ul li { float:left; width:640px; height:17px; margin-top:7px; line-height:17px;}
.ne_le { float:left; width:540px; margin-left:18px; display:inline; height:17px; line-height:17px; overflow:hidden;}
.ne_ld { float:left; width:76px; color:#BCBCBC; font-size:11px; font-family:Arial, Helvetica, sans-serif;}
.gz_title { float:left; width:595px; text-align:center; color:#666666; font-size:14px; padding-top:20px;margin-left:23px; display:inline; }
.gz_td { float:left; width:595px; text-align:center;color:#666666;padding-top:6px;margin-left:23px; display:inline; }
.gz_tc { float:left; width:595px;color:#999999; text-align:justify; line-height:20px;padding-top:10px;margin-left:23px; display:inline; } 
.n_di { float:right; padding-top:20px; padding-right:8px; text-align:right;}

.menu { float:left; width:215px; margin-left:31px; display:inline; margin-top:5px;}
.menu ul { float:left; width:215px;}
.menu ul li { float:left; width:215px; height:33px; text-indent:2.6em; margin-top:6px;}
.me_on { float:left; width:215px; height:33px; line-height:33px;font-family: "Microsoft YaHei","FontCreatorProgramRegular","黑体","宋体",sans-serif;background:url(../images/zm_on.gif) no-repeat;}
.me_on a { float:left; width:215px; height:33px; color:#003399; line-height:33px;background:url(../images/zm_on.gif) no-repeat;}
.me_on a:hover { float:left; width:215px; height:33px;color:#003399; line-height:33px;background:url(../images/zm_on.gif) no-repeat;}

.me_off { float:left; width:215px; height:33px; line-height:33px;font-family: "Microsoft YaHei","FontCreatorProgramRegular","黑体","宋体",sans-serif;background:url(../images/zm_off.gif) no-repeat;}
.me_off a { float:left; width:215px; height:33px; color:#4D4D4E;line-height:33px;background:url(../images/zm_off.gif) no-repeat;}
.me_off a:hover { float:left; width:215px; height:33px;color:#003399; line-height:33px;background:url(../images/zm_on.gif) no-repeat;}
.gz_tjg { float:left; width:600px;color:#999999; text-align:justify;margin-top:19px;margin-left:11px; display:inline; } 
.gz_tjg ul { float:left; width:600px; padding-bottom:42px;}
.gz_tjg ul li { float:left; width:600px; line-height:20px;min-height:63px; height:auto !important; height:63px; overflow:visible;background:#F5F5F5 url(../images/qx_b.gif) repeat-x bottom;} 

.ch_ti { float:left;color:#666666; width:578px; margin-left:13px; display:inline; padding-left:25px;min-height:17px; height:auto !important; height:17px; overflow:visible; background:url(../images/qx_p.gif) no-repeat 0 4px; margin-top:13px;}
.ch_tc {  float:left;color:#999999;width:578ppx; margin-left:13px; display:inline;padding-left:26px; padding-top:0px;}
.sgz_tjg { float:left; width:500px;color:#999999; overflow:hidden; text-align:justify;margin-top:19px;margin-left:56px; display:inline; } 

#slideshow {list-style:none;}
#slideshow span {display:none}
#wrapper {width:499px;display:none; float:left; overflow:hidden;} 
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:499px;height:383px;overflow:hidden;background:url(../images/slib.gif) no-repeat;}

#image { float:left;width:492px; height:377px; margin-left:3px; display:inline; margin-top:3px;} 
#image img {position:absolute; z-index:25; width:340px;height:377px;}   
.imgnav {position:absolute; width:25%; height:383px; cursor:pointer; z-index:150; background:none;}
#imgprev {left:2px; background:url(../images/nle.gif) left center no-repeat}
#imgnext {right:2px; background:url(../images/nri.gif) right center no-repeat}
#imglink {position:absolute; height:383px; width:100%; z-index:100; background:none; opacity:.4; filter:alpha(opacity=40)}
#thumbnails {margin-top:7px; background:none;}
#slideleft {float:left; width:17px; height:84px; background:url(../images/ple.gif) center center no-repeat;}
#slideleft:hover {}
#slideright {float:right; width:17px; height:84px; background:url(../images/pri.gif) center center no-repeat}
#slideright:hover {}
#slidearea {float:left; position:relative; width:459px; margin-left:2px; height:86px; overflow-x:hidden}
#slider {position:absolute; left:0; height:86px} 
#slider img {cursor:pointer; border:1px solid #C8C8C8; padding:2px; width:71px; height:79px;} 
.linkhover { border:1px solid red;}
 
.men_le { float:left; width:242px; height:31px; margin-left:14px; display:inline;background:url(../images/yz_bi.gif) no-repeat; margin-top:9px;}
.for_all {float:left; width:242px;margin-left:14px; display:inline;margin-top:9px;}
.wgza { float:left; width:607px; margin-left:30px; display:inline;margin-top:13px; overflow:hidden; }
.vge_ti { float:left; width:607px; height:43px;background:url(../images/yz_ba.gif) no-repeat; color:#FFF;}
.vg01 { float:left; padding-left:17px; padding-right:15px; padding-top:4px; text-align:center;}
.vg02 { float:left; padding-left:34px; padding-right:15px; padding-top:5px; line-height:16px;text-align:center;}
.vg03 { float:left; padding-left:38px; padding-right:15px; padding-top:5px; line-height:16px;text-align:center;}
.vg04 { float:left; padding-left:30px; padding-right:15px; padding-top:5px; line-height:16px;text-align:center;}
.vg05 { float:left; padding-left:17px; padding-right:15px; padding-top:5px; line-height:16px;text-align:center;}
.vg06 { float:left; padding-left:52px; padding-right:15px; padding-top:4px;text-align:center;}

.vge_tc { float:left; width:607px;background:url(../images/yz_zb.gif) repeat-x;min-height:530px; height:auto !important; height:530px; overflow:visible;}
.vge_tc ul { float:left; width:576px; margin-left:14px; display:inline; margin-top:12px;}
.vge_tc ul li { float:left;width:576px; border-bottom:1px solid #EAEDEE; color:#757575; height:19px; margin-top:2px;}
.vc01 { float:left; width:67px; overflow:hidden; height:17px; color:#FA9301;text-indent:0.3em;}
.vc02 { float:left; width:99px; overflow:hidden; height:17px; text-indent:1.9em;}
.vc03 { float:left; width:128px; overflow:hidden; height:17px; text-indent:2.8em;}
.vc04 { float:left; width:110px; overflow:hidden; height:17px;text-indent:1.0em;}
.vc05 { float:left; width:99px; overflow:hidden; height:17px;text-indent:0.3em}
.vc06 { float:left; width:69px; overflow:hidden; height:17px;text-indent:0.3em} 
.ne_zhu { float:left; padding-left:20px; padding-top:29px; color:#003399; line-height:21px; padding-bottom:17px;}


.calendar{position:absolute;width:212px;border:1px solid #888;background:#fff; font-size:12px; line-height:17px;}
.calendarTitle{height:16px;background:#91b14d;color:#fff;}
.calendarClose{float:left;width:16px;height:16px;background:url(../images/icon16_close.gif) no-repeat center center;}
.calendarHead{height:16px;text-align:center;}
.calendarLastMonth{float:left;width:20px;height:12px;background:url(../images/icon12_back.gif) no-repeat center center;float:left;}
.calendarNextMonth{float:left;width:20px;height:12px;background:url(../images/icon12_forward.gif) no-repeat center center;float:left;}
.calendarLastYear{float:left;width:20px;height:12px;background:url(../images/icon12_rewind.gif) no-repeat center center;float:left;}
.calendarNextyear{float:left;width:20px;height:12px;background:url(../images/icon12_fast.gif) no-repeat center center;float:left;}
.calendarYearMonth{float:left;width:130px;font:bold 12px "Arial";color:#91b14d;}
.calendarWeekday{float:left;width:30px;background:#eee;color:#91b14d;text-align:center;}
.calendarWeekend{float:left;width:30px;background:#eee;color:#91b14d;text-align:center;}
.calendarDay{float:left;width:30px;height:24px;background:#fafafa;cursor:pointer;text-align:center;}
.calendarWeekendDay{float:left;width:30px;height:24px;background:#fafafa;cursor:pointer;text-align:center;}
.calendarToday{float:left;width:30px;height:24px;cursor:pointer;background:#91b14d;font:bold 12px "Arial";color:#fff;text-align:center;}
.calendarOver{float:left;width:30px;height:24px;background:#d0dbba;cursor:pointer;text-align:center;}
.button_calendar{width:14px;height:24px;background:url(../images/yz_d.gif) no-repeat center center;border:none;}

.for02 { float:left; width:124px; height:20px; overflow:hidden;  margin-top:3px;margin-left:18px; display:inline;}
.for02 input { vertical-align:middle;} 
.sop01 { vertical-align:middle; width:88px; height:11px; line-height:11px; font-size:11px; font-family:Arial, Helvetica, sans-serif } 
.for01 { float:left; padding-left:11px; padding-top:3px;}
.for03 { float:left; border:none; cursor:hand; cursor:pointer; width:48px;margin-left:6px; display:inline; margin-top:5px; height:16px;background:url(../images/yz_bu.gif) no-repeat;} 

.dgza { float:left; width:607px; margin-left:30px; display:inline;margin-top:3px; overflow:hidden;}

.dc_tc { float:left; width:595px;color:#999999; text-align:justify; line-height:20px;padding-top:0px;margin-left:11px; display:inline; } 
.dc_tc p {margin:0; padding:0;}

.fs_t { float:left;font-size:14px; color:#003399;width:590px;}
.fs_c {float:left;color:#666666; line-height:24px; margin-top:7px; width:590px;}
.dc_tx { float:left; width:595px;color:#666666; text-align:justify; line-height:20px;padding-top:18px;_padding-top:10px; padding-left:20px;margin-left:11px; display:inline; } 
.dc_tx input { vertical-align:middle;}
.tj01 { float:left; width:50px; height:17px;background:url(../images/su_b.gif) no-repeat; margin-left:253px; margin-top:30px; display:inline; text-align:left; text-indent:1.2em; font-size:12px; line-height:17px; border:none; cursor:hand; cursor:pointer;}
.tj02 { float:left; width:50px; height:17px;background:url(../images/su_b.gif) no-repeat; font-size:12px;margin-top:30px;text-align:left;text-indent:1.2em; line-height:17px;border:none; cursor:hand; cursor:pointer; margin-left:13px; display:inline;}

.ax_all { float:left; height:18px; margin-top:7px; margin-left:35px; display:inline;}
.a_ale { float:left; width:100px; height:18px; line-height:18px;}
.he_all { float:left; width:160px; background:#EFEFEF; height:10px; overflow:hidden; margin-left:10px; display:inline; margin-top:4px;} 
.he_all img { vertical-align:middle;}
.a_ari { float:left; width:110px; height:18px; line-height:18px; margin-left:25px; display:inline;}
.he_01 { float:left; width:2px; height:10px; margin-top:0px;margin-top:-5px\9;*margin-top:-5px;_margin-top:-1px;}
.he_02 { float:left;height:10px;margin-top:0px;margin-top:-5px\9;*margin-top:-5px;_margin-top:-1px;}
.he_03 { float:left; width:2px; height:10px;margin-top:0px;margin-top:-5px\9;*margin-top:-5px;_margin-top:-1px;}

.mar40 {float:left; margin-top:40px;} 
.cbx_ti { float:left; width:272px; margin-top:1px; height:21px;background:url(../images/syc_le.gif) no-repeat; line-height:21px;  text-indent:1.3em; color:#ffa301;}   
.cbx_tc { float:left; width:272px; padding-top:9px;} 
.cbx_tc ul { float:left; width:272px; padding-left:12px;}
.cbx_tc ul li{ float:left; padding-left:4px; height:15px; margin-top:4px; line-height:15px; padding-right:4px;}
.cbx_tc ul li img { vertical-align:middle;}
.sbx_ti { float:left; width:272px; margin-top:14px; height:21px;background:url(../images/syc_le.gif) no-repeat; line-height:21px;  text-indent:1.3em; color:#ffa301;}
 
.ggza { float:left; width:640px; margin-left:26px; display:inline;margin-top:8px; }
.ggza ul { float:left; width:640px;margin-top:15px; padding-bottom:7px;}
.ggza ul li { float:left; width:320px; height:17px; text-indent:1em; overflow:hidden; margin-top:7px; line-height:17px;background:url(../images/lib.gif) no-repeat 0 6px;}

.cn_title { color:#666666; float:left; width:634px; overflow:hidden; text-align:center; font-size:14px; margin-top:25px; margin-left:7px; display:inline;}
.cn_tda { color:#999999;float:left; width:639px;overflow:hidden; text-align:right; font-size:12px; padding-top:4px;}
.cs_at { float:left; width:632px; line-height:27px; color:#333333; font-weight:bold; height:27px;background:url(../images/syc_t.gif) no-repeat; overflow:hidden;margin-top:7px; margin-left:21px; display:inline;}  
.cs_am { float:left; width:632px; line-height:27px; color:#333333; overflow:hidden; font-weight:bold; padding-bottom:4px;background:url(../images/syc_m.gif) repeat-y; margin-left:21px; display:inline;}
.cs_am ul { float:left; width:632px;}
.cs_am ul li { float:left; width:632px; height:29px;background:url(../images/sbj.gif) no-repeat;}



.cs_ab { float:left; width:632px; color:#333333; height:7px;background:url(../images/syc_b.gif) no-repeat; margin-left:21px; display:inline;}  
 
.pin01 { float:left; padding-left:60px; padding-top:2px; color:#666666}
.pin02 { float:left; padding-left:140px; padding-top:2px; color:#333333}
.pin03 { float:left; padding-left:160px; padding-top:2px; color:#333333}

.sin01 { float:left; padding-left:155px; padding-top:6px; color:#666666}
.sin02 { float:left; padding-left:27px; padding-top:6px; color:#666666}
.sin03 { float:left; padding-left:58px; padding-top:6px; color:#666666}
.sin04 { float:left; padding-left:95px; padding-top:6px; color:#666666}

.stbj { float:left; width:632px; height:36px;background:url(../images/stbj.gif) no-repeat;}  

.in01 { float:left; width:142px; margin-top:8px; text-indent:4em; color:#ffa301; font-weight:normal;}
.in02 { float:left; width:110px; margin-top:8px; text-indent:3.8em; color:#666666; font-weight:normal;}
.in03 { float:left; width:117px; margin-top:8px;  text-indent:4.4em; color:#666666; font-weight:normal;}
.in04 { float:left; width:127px; margin-top:8px;  text-indent:4.8em;color:#666666; font-weight:normal;}
.in05 { float:left; width:124px; margin-top:8px;  text-indent:4.8em;color:#666666; font-weight:normal;}

.cn_tis { color:#003399; float:left; padding-left:47px;text-align:left; font-size:12px; line-height:21px; margin-top:25px; }
.hh { color:#999999;}
.fu { color:#333333; float:left; padding-left:20px; padding-top:15px; padding-right:10px;}
.fu a{ color:#3D5E95; text-decoration:none;}
.fu a:hover{ color:#3D5E95; text-decoration:underline;}
#layer{padding-left:1px; overflow:hidden;}
#layer li{ float:left;line-height:26px; text-align:center; text-indent:0;padding-right:2px; background:url(../images/line.gif) no-repeat right top;}
#layer li a{width:164px;height:26px; display:block;}
#layer li.white a{ background:url(../images/left2.gif) repeat-x;color:#318EBF;}
#layer li.black a{ background:url(../images/right2.gif) repeat-x;color:#fff;}
#level li{ float:left; line-height:22px;}
#level li a{padding:0 8px 0 9px;height:22px; color:#fff;display:block; background:url(../images/left31.gif) no-repeat left top;}
#level li.white{background:url(../images/right32.gif) no-repeat right top;}
#level li.white a{background:url(../images/right31.gif) no-repeat left top; }
#level li.black{background:url(../images/left32.gif) no-repeat right top;}
#level li.black a{background:url(../images/left31.gif) no-repeat left top; }
#level0,#level1,#level2,#level3,#level4,#level5{ clear:both; overflow:hidden;padding-top:6px;}
#level0 img,#level1 img,#level2 img,#level3 img,#level4 img,#level5 img{width:444px; height:379px;}

/*机构介绍*/
 .middle_slide{width:273px; float:left;padding-left:27px; background:url(../images/jileft.gif) no-repeat right top;margin-top:4px;}
 .slide,.slider{ background:url(../images/jislid.gif) no-repeat right 37px;width:273px; overflow:hidden;min-height:542px;}
 .slide h3,.slider h3{ font-size:14px; color:#186EB1; line-height:44px; font-weight:normal;padding:0 0 0 16px;margin:0;}
 .slider h3{ line-height:40px;}
 .slider h3 span{ font-family:Arial; line-height:46px; font-size:10px;padding-left:9px;}
 .slide ul{padding-top:7px; overflow:hidden;}
 .slide li{margin:0 28px 0 29px; overflow:hidden;border-bottom:1px dotted #D1D1D1;}
 .slide li a{color:#003399; line-height:32px; padding-left:30px;background:url(../images/dian.gif) no-repeat 10px center; }
 .middle_content{width:693px; float:left; overflow:hidden;margin-top:4px;}
 .middle_place{background:url(../images/jiright.gif) repeat-x right top;}
 .middle_place p{height:37px;line-height:42px;padding:0 0 0 8px;margin:0;}
 .middle_place p a{color:#0066CC;margin:0 6px;}
 .middle_place p span{color:#333;padding-left:6px;}
 .maj{padding:0 52px 0 36px; overflow:hidden; background:url(../images/jicon.gif) no-repeat right top;}
 .maj h1{ font-size:14px;color:#898989; line-height:30px;padding:31px 0 0;margin:0; text-align:center;}
 .place{ text-align:center;padding-bottom:10px;}
 .place span{color:#898989;padding:0 12px;}
 .content{color:#B5B5B5;}
 .content p{padding:0;margin:0;}
 /*今日菜价*/
 .slider_pic{padding:0 0 0 16px;width:238px; overflow:hidden; background:url(../images/cc.gif) no-repeat right top;}
 .slider_pic h2{height:29px; line-height:30px; text-align:right;padding-right:49px;letter-spacing:4px;margin:0;color:#003399; font-size:12px; font-weight:normal;}
 .slider_pic p{ line-height:16px;padding:16px 0;height:16px;margin:0;}
 .slider_pic p b{width:56px; text-align:center; float:left; line-height:16px;}
 .input1{ float:left;heifght:14px;border:1px solid #A0A0A0;width:90px;height:14px;margin:0 5px;}
 .input2{ float:left;width:48px;height:16px;margin-left:14px;}
 .slider_pic p span{ float:left;width:13px;height:16px;}
 .slider_pic p span img{padding-top:2px;}
 .situ{padding:0 30px; overflow:hidden;}
 .title{padding:33px 0 23px 6px; overflow:hidden;height:21px;}
 #date li{ float:left;}
 #date li a{padding:0 6px; font-family:Arial;}
 #date li,#date li a,#date li.black{color:#757575;}
 #date li.white a{color:#0066CC;}
 #date0,#date1,#date2,#date3,#date4,#date5,#date6{width:607px; overflow:hidden; color:#757575;}
 #date0 li,#date1 li,#date2 li,#date3 li,#date4 li,#date5 li,#date6 li{border-bottom:1px solid #EDEEEF;margin:0 16px 0 0;}
 .date_menu{color:#fff;height:43px; display:block;padding-bottom:13px;width:607px;background:url(../images/cjl.gif) repeat-x;}
 .tt1{color:#FA9301;}
 .situ_foot{ line-height:1.5;margin:0;padding:25px 0 0;color:#003399;}
 a, a:active{ outline: none;}
 
 .sd_title {
    background: url("../images/ds.gif") no-repeat scroll 0 5px transparent;
    color: #3D5E95;
    display: inline;
    float: left;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 12px;
    padding-left: 10px;
    text-indent: 0.3em;
    width: 264px;
}
.sd_cons {
    color: #808182;
    display: inline;
    float: left;
    height: 167px;
    line-height: 21px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    width: 264px;
}





/***********20130424 addby dong***************/
.fl{ float:left;}
.fr{ float:right;}

/*原首页的底部修改后的样式*/
.shi_all { float:left; width:682px; height:382px; overflow:hidden; margin-left:22px; display:inline; margin-top:12px;}
.ce_top { float:left; width:682px; height:35px; overflow:hidden;background:url(../images/sh_top.gif) no-repeat;}
.ce_bot { float:left; width:682px;height:345px;background:url(../images/sh_botb.gif) no-repeat;}
.shij_all { float:left; width:303px; border:1px solid #DFDFDF; height:307px; background:#FDFDFD; margin-left:16px; display:inline; padding:10px 7px;} 
.shij_all dl.d_dl{width:140px; padding:5px 0px 10px;}
.shij_all dl.d_dl dt{width:140px; height:19px; line-height:19px;background:url(../images/d_dl_dtbg.jpg) no-repeat; position:relative; color:#519BD4; font-weight:bold; font-size:12px; text-indent:10px; margin-bottom:10px;}
.shij_all dl.d_dl dt a.d_more{ position:absolute; right:6px; top:4px;}
.shij_all dl.d_dl dd{ color:#848484; float:left; width:110px; padding-left:10px; line-height:20px; height:20px; display: block; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.shij_all dl.d_dl dd span{ font-size:8px; color:#999; padding:0px 5px;}

.sy_top { float:left; width:317px; height:18px; overflow:hidden; text-indent:3.6em; margin-top:16px; color:#FFF;}
.jg_top { float:left; width:317px; height:18px; overflow:hidden;text-indent:3em; margin-left:9px; display:inline; margin-top:16px; color:#FFF;}
.sjg_all { float:left; width:317px; height:328px; margin-left:12px;_margin-left:-1px; display:inline; border-top:1px solid #E4E4E0;background:url(../images/shr_bac.gif) left bottom no-repeat;}
.sjg_all ul { float:left; width:287px; height:298px;margin-left:17px; overflow:hidden; margin-top:13px; display:inline; }
   
.dcg_all { overflow:hidden;float:left; width:259px; margin-left:13px; display:inline;margin-top:13px; }
.dcb_ban { float:left; width:259px; margin-top:10px;}
.dcb_ban img { float:left; width:257px; height:65px; border:1px solid #E9E9E9;}
  

/*新增列表页左侧样式*/
.left_menu{ width:218px;overflow:hidden; margin:5px auto 0px;}
.left_menu li{ float:left; width:218px; height:38px; line-height:38px; background:url(../images/left_menu_libg.jpg) left bottom repeat-x;}
.left_menu li a{color:#4D4D4E; padding:0px 0px 0px 30px;background:url(../images/d_dot02.jpg) 10px 2px no-repeat;}
.left_menu li a:hover,.left_menu li a.on{ color:#003399;background:url(../images/d_dot01.jpg) 10px 2px no-repeat;}

/*新增列表页右侧列表样式*/
.gza ul.list{ width:592px; overflow:hidden; margin:10px 0px 0px 10px;}
.gza ul.list li{ float:left; width:592px; height:36px; line-height:36px;border-bottom:1px solid #EBEBEB; margin:0px;}
.gza ul.list li a{color:#808182; padding:0px 0px 0px 20px;background:url(../images/d_dot03.jpg) 10px 5px no-repeat;}
.gza ul.list li a:hover,.gza ul.list li a.on{ color:#003399;background:url(../images/d_dot03.jpg) 10px 5px no-repeat;}

/*新增内容页右侧表格样式*/
.gza .tabprice{width:618px; overflow:hidden; margin:10px 0px;}
.gza .tabprice tr{}
.gza .tabprice tr th{ background:#88BCEE; color:#fff; font-weight:bold; height:30px; line-height:30px;}
.gza .tabprice tr td{ height:35px; border-left:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD; text-align:center; color:#808182; padding:0px 5px;}
.gza .tabprice tr td.dw01{ width:125px;}
.gza .tabprice tr td.dw02{ width:140px; color:#EC8C05;}
.gza .tabprice tr td.dw03{ width:65px;}
.gza .tabprice tr td.dw04{ width:120px; text-align:left; padding-left:17px;}
.gza .tabprice tr td.dw05{ width:100px; border-right:1px solid #DDDDDD;}

.side-btns-2w {
    width: 120px;
    top: 200px;
    _top: expression(documentElement.scrollTop + 370);
    left: 50%;
    margin: 0 0 0 505px;
    position: fixed;
    _position: absolute;
    z-index: 0;
    overflow: hidden;
    font: 11px Arial;
}

.side-btns-2w em, .side-btns-2w span {
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
}

.side-btns-2w img {
    border: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
}
   
.side-btns-2w-img {
    display: block;
    width: 120px;
    background: #EBEBEB;
    line-height: 0;
    text-align: center;
    position: relative;
    zoom: 1;
}

.side-btns-2w-img:link, .side-btns-2w-img:visited {
    color: #333;
    text-decoration: none;
}
