<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
    <appSettings>
        <add key="LogLevel" value="2"/>
        <add key="PageSize" value="20"/>
        <add key="SurveyOptionsMaxCount" value="8"/>
        <add key="UploadImageFileExt" value=".jpg,.png,.bmp,.gif"/>
        <add key="PriceThreshold" value="0.05"/>
        <add key="RemoteService" value="http://www.ccpn.gov.cn/syncservice/reportmaster"/>
        <add key="SyncStore" value="false" />
    </appSettings>
    <connectionStrings>
       <!--<add name="SQLConnection" connectionString="server=.\sqlexpress;Initial Catalog=jjw;uid=sa;pwd=pass@word1;"/>--> 
      <add name="SQLConnection" connectionString="server = (local)\MSSQLSERVER2012;Initial Catalog=jjw;uid=sa;pwd=sa1234;" />
    </connectionStrings>
    <system.web>
        <httpRuntime requestValidationMode="2.0" />
        <pages theme="_Default" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/login.aspx" timeout="30"/>
        </authentication>
        <authorization>
            <deny users="?"/>
        </authorization>
        <!--
           如果在执行请求的过程中出现未处理的错误，
           则通过 <customErrors> 节
           可以配置相应的处理步骤。具体而言，
           开发人员通过该节可配置要显示的 html 错误页，
           以代替错误堆栈跟踪。

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    </system.web>
</configuration>