<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="LogFilePath" value="E:\数政\价格监测网\W3SVC1\W3SVC1"/>
        <add key="LogLevel" value="aspx,html"/>
        <add key="LogFormat" value="{0} {1}|{4}|{5}|{10}|{9}|{12}|{13}|{14}|{15}|{0}"/>
    </appSettings>
    <connectionStrings>
        <add name="SQLConnection" connectionString="server=zzf;Initial Catalog=jg;uid=sa;pwd=pass@word1;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
