<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    </configSections>

    <appSettings>
        <add key="RunService" value="0 0 14,15,18,21 * * ?"/>
    </appSettings>
    <connectionStrings>
        <add name="SQLConnection" connectionString="server=.\SQLExpress;Initial Catalog=jjw;uid=sa;pwd=pass@word1;"/>
    </connectionStrings>
    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="RollingLogFileAppender"/>
        </root>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Log/Service.log"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d %-5p %c] - %m%n"/>
            </layout>
            <ImmediateFlush value="true"/>
        </appender>
    </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
