<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appSettings>
        <add key="JobActive" value="1" />
        <add key="PriceInfo" value="2" />
        <add key="PricePolicy" value="3" />
        <add key="FocusPicture" value="14" />
        <add key="Organize" value="15" />
        <add key="Department" value="16" />
        <add key="Photo" value="17" />
        <add key="Banner" value="31" />
        <add key="PriceMonitorUnitList" value="32" />
        <add key="PriceDefault" value="60" />
        <add key="CaiJiaCount" value="40" />
        <add key="JingMiCount" value="100" />
        <add key="TiaoHeYouCount" value="40" />
        <add key="ZhuRouCount" value="40" />
        <add key="FuQiangFenCount" value="40" />
        <add key="JiDanCount" value="40" />

        <add key="AuthCodeAscii" value="abcdefghigklmnopqrstuvwxyzACDEFGHJKLMNPQRSTUVWXYZ23456789" />

    </appSettings>
    <connectionStrings>
        <add name="SQLConnection" connectionString="server=localhost;Initial Catalog=jjw;Integrated Security=SSPI;" />
     
    </connectionStrings>
    <location path="." allowOverride="false" inheritInChildApplications="false">
        <system.web>
            <pages enableViewState="false" clientIDMode="AutoID" />
            <caching>
                <outputCache enableOutputCache="true" />
                <outputCacheSettings>
                    <outputCacheProfiles>
                        <add name="Cache1hour" duration="60" varyByParam="none"/>
                        <add name="Cache1month" duration="300" varyByParam="none"/>
                        <add name="Cache1hourByTopicID" duration="300" varyByParam="TopicID"/>
                        <add name="Cache1hourByBoardID" duration="300" varyByParam="BoardID"/>
                        <add name="Cache1MinuteByPage" duration="60" varyByParam="page"/>
                        <add name="CacheVegetable1hourByDateTime" duration="300" varyByParam="t"/>
                    </outputCacheProfiles>
                </outputCacheSettings>
            </caching>
            <compilation targetFramework="4.0" />

            <authentication mode="Forms">
                <forms loginUrl="report/Login.aspx" timeout="600" defaultUrl="report/StoreInfor.aspx" />
            </authentication>
            <authorization>
                <allow users="*" />
            </authorization>

        </system.web>
    </location>

    <location path="report">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="report/resetpwd.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
                <allow />
            </authorization>
        </system.web>
    </location>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />

        <handlers>
            <add name="redirect01" verb="*" path="*/detail_*.aspx" type="HttpUrlRewrite.DetailUrlRewrite" />
            <add name="redirect02" verb="*" path="*/default_*.aspx" type="HttpUrlRewrite.DefaultUrlRewrite" />
            <add name="redirect03" verb="*" path="vegetables/index_*.aspx" type="HttpUrlRewrite.VegetablesUrlRewrite" />
            <add name="redirect04" verb="*" path="price/price_*.aspx" type="HttpUrlRewrite.PriceUrlRewrite" />
            <add name="redirect05" verb="*" path="price/index_*.aspx" type="HttpUrlRewrite.PriceUrlRewrite" />
        </handlers>

    </system.webServer>
</configuration>